.ss-section-3 {
  background-color: rgba(var(--ss-section-bg));
}
.ss-section-3 * {
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
  outline: none;
  min-width: unset;
  min-height: unset;
  max-width: unset;
  max-height: unset;
}
.ss-section-3 .ss-inner-container {
  position: relative;
}
.ss-section-3 .ss-inner-container .ss-background-container {
  display: flex;
}
@media screen and (max-width: 999px) {
  .ss-section-3 .ss-inner-container .ss-background-container {
    position: absolute;
    inset: 0;
  }
  .ss-section-3 .ss-inner-container .ss-background-container::after {
    content: "";
    background-color: #FFFFFF;
    opacity: 0.5;
    position: absolute;
    inset: 0;
  }
}
.ss-section-3 .ss-inner-container .ss-background-container img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.ss-section-3 .ss-inner-container .ss-content-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}
@media screen and (max-width: 999px) {
  .ss-section-3 .ss-inner-container .ss-content-container {
    position: relative;
  }
}
@media screen and (max-width: 750px) {
  .ss-section-3 .ss-inner-container .ss-content-container {
    padding: 50px 20px;
  }
}
.ss-section-3 .ss-inner-container .ss-content-container .img-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 30px 0;
}
.ss-section-3 .ss-inner-container .ss-content-container .img-container ul {
  display: flex;
}
.ss-section-3 .ss-inner-container .ss-content-container .img-container ul li {
  display: flex;
}
.ss-section-3 .ss-inner-container .ss-content-container .img-container ul li:not(:first-child) {
  margin-left: -10px;
}
.ss-section-3 .ss-inner-container .ss-content-container .img-container ul li img {
  border-radius: 50%;
  border: 2px solid rgba(var(--ss-section-bg));
}
.ss-section-3 .ss-inner-container .ss-content-container .img-container p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: rgba(var(--ss-section-text-color));
  opacity: 0.5;
}
.ss-section-3 .ss-inner-container .ss-content-container .main-title {
  font-style: normal;
  font-weight: 900;
  font-size: 116px;
  line-height: 90%;
  letter-spacing: -0.06em;
  color: rgba(var(--ss-section-text-color));
}
@media screen and (max-width: 999px) {
  .ss-section-3 .ss-inner-container .ss-content-container .main-title {
    font-size: 90px;
  }
}
@media screen and (max-width: 650px) {
  .ss-section-3 .ss-inner-container .ss-content-container .main-title {
    font-size: 70px;
  }
}
.ss-section-3 .ss-inner-container .ss-content-container .main-title strong {
  background: var(--ss-strong-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.ss-section-3 .ss-inner-container .ss-content-container .ss-rte {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #282828;
  opacity: 0.9;
  width: 820px;
  max-width: 100%;
  margin: 30px 0;
}
@media screen and (max-width: 750px) {
  .ss-section-3 .ss-inner-container .ss-content-container .newsletter-container .newsletter-form .ss-input-button {
    display: flex;
  }
}
@media screen and (max-width: 500px) {
  .ss-section-3 .ss-inner-container .ss-content-container .newsletter-container .newsletter-form .ss-input-button {
    flex-wrap: wrap;
    gap: 10px;
  }
}
.ss-section-3 .ss-inner-container .ss-content-container .newsletter-container .newsletter-form .ss-input-button input {
  padding: 16px 24px;
  width: 424px;
  max-width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  background-color: rgba(var(--ss-input-bg));
  color: rgba(var(--ss-input-color));
  border: 1px solid rgba(var(--ss-input-border));
}
.ss-section-3 .ss-inner-container .ss-content-container .newsletter-container .newsletter-form .ss-input-button input::-moz-placeholder {
  opacity: 0.3;
}
.ss-section-3 .ss-inner-container .ss-content-container .newsletter-container .newsletter-form .ss-input-button input::placeholder {
  opacity: 0.3;
}
@media screen and (max-width: 750px) {
  .ss-section-3 .ss-inner-container .ss-content-container .newsletter-container .newsletter-form .ss-input-button input {
    width: 100%;
    flex: 1 1 0;
  }
}
@media screen and (max-width: 500px) {
  .ss-section-3 .ss-inner-container .ss-content-container .newsletter-container .newsletter-form .ss-input-button input {
    flex: 0 0 100%;
  }
}
.ss-section-3 .ss-inner-container .ss-content-container .newsletter-container .newsletter-form .ss-input-button button {
  padding: 16px 24px;
  background-color: rgba(var(--ss-button-bg));
  border: 1px solid rgba(var(--ss-button-border));
  color: rgba(var(--ss-button-color));
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}
@media screen and (max-width: 500px) {
  .ss-section-3 .ss-inner-container .ss-content-container .newsletter-container .newsletter-form .ss-input-button button {
    flex: 0 0 100%;
  }
}/*# sourceMappingURL=ss-section-3.css.map */